.inputBox{
    border-top:transparent;
    border-right:transparent;
    border-left:transparent;
    border-bottom: 1px solid rgb(170, 168, 168);
    width : 80%;
}
.contact{
    width : 70%;
    height:100%;
    margin:auto;
    align-items: center;
    padding :5%;
}
.info{
    background-color: #6577B3;
    color:white;
    padding:5%;
    border-radius: 1%;
}
.subtitle{
    color:rgb(200, 196, 196);
    font-weight: 100;
    
}

.btnn{
    width:50%;
    align-self: center;
    background-color: #6577B3;
    margin-bottom:10px;
    height:50px;
    border:transparent;
    border-radius:5px;

}

.btnh4{
    font-weight: 750;
    font-size: medium;
    color:white;
    margin-bottom: 10px;
}

.ic{
    width:30px;
    height: 30px;
}

.information{
    font-weight: 400;
}
.socials a{
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	margin: 0 5px;
}
.socials a i{
	color:#fff;
	padding:12px;
}
.socials a:nth-child(1){
	background: #3b5998;
}
.socials a:nth-child(2){
	background: #ff0000;
}
.socials a:nth-child(3){
	background: #007bb5;
}
.socials a:nth-child(4){
	background: #8a3ab9;
}

@media (max-width:800px){
	.mx-30{
		margin-bottom:30px;
	}
}
